<div class="container">
  <form class="row g-3">
    <div class="col-sm-7">
      <label for="InputSearchBox" class="visually-hidden">Input</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Country Name..." [(ngModel)]="keyword"
        name="search">
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary mb-3" (click)="search()">Search</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary mb-3" (click)="sortCountry()">Sort</button>
    </div>
  </form>
</div>
