<div class="container">
  <table class="table align-middle table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flag</th>
        <th scope="col">Country</th>
        <th scope="col">Country Code (2)</th>
        <th scope="col">Country Code (3)</th>
        <th scope="col">Native Name</th>
        <th scope="col">Alt Spellings</th>
        <th scope="col">Calling Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of filterList(); let index=index" data-bs-toggle="modal" data-bs-target="#moreInfoModal">
        <td>{{index + 1}}</td>
        <td>
          <img [src]="country.flag" class="img-fluid img-thumbnail" style="width: 20%">
        </td>
        <td>{{country.name}}</td>
        <td>{{country.alpha2Code}}</td>
        <td>{{country.alpha3Code}}</td>
        <td>{{country.nativeName}}</td>
        <td>{{country.altSpellings[0]}}</td>
        <td>{{country.callingCodes[0]}}</td>
      </tr>
    </tbody>
  </table>
</div>
